*{
	
	border:2px groove white ;
	padding:3%;
	background-color:rgba(0,0,0,0.5);

	font-size: 20px;
	color:orange;
	
	}

body{
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6c/LG_%EC%8B%9C%EB%84%A4%EB%A7%88_3D_TV_%EC%83%88_%EB%AA%A8%EB%8D%B8_%E2%80%98%EC%86%8C%EB%85%80%EC%8B%9C%EB%8C%80%E2%80%99_%EC%98%81%EC%9E%85.jpg");
	background-size: 100% 100%;		
}



#buyNow{

	background-color:cyan; 
}